html{
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

.container{
    margin: 0 auto;
    width: 1200px;
}
.fixed{
    position: fixed;
    z-index: 1000;
}
.fixed.bottom{
    bottom: 0;
    left: 0;
    right: 0;
}
.fixed.top{
    top: 0;
    left: 0;
    right: 0;
}

.col{
    float: left;
    display: inline-block;
    box-sizing: border-box;
}

.row{
    float: left;
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}

.hidden{
    display: none;
}

.widescreen{
    display: inline-block;
    width: 100%;
}
.row.button-row .dropdown,
.row.button-row .btn{
    float: left;
    margin-right: 10px;
}
.fileinput,
.btn{
    transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
}
.btn.btn-default{
    line-height: 40px;
    padding: 0 10px;
    border: 0;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.btn.btn-default:hover{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.label{

}
.label.label-default{
    font-size: 11px;
    padding: 3px 5px;
}

i.icon{
    line-height: inherit;
    padding-right: 10px;
}

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.label-action{
    color: #2C82C9;
}
.action{
    background-color: #2C82C9;
    color: white;
}
.default{
    background-color: #fff;
    color: black;
}
.success{
    background-color: #27ae60;
    color: white;
}

.alert{
    background-color: #cf000f;
    color: white;
}

.warning{
    background-color: #F29B34;
    color: white;
}

.error{

}

.no-select{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.tb12, .tb11, .tb10, .tb9, .tb8, .tb7, .tb6, .tb5, .tb4, .tb3, .tb2, .tb1,
.dt12, .dt11, .dt10, .dt9, .dt8, .dt7, .dt6, .dt5, .dt4, .dt3, .dt2, .dt1 { width: 100%; }
.dt-pd-10,
.tb-pd-10 { padding: 0; }

[toggled="true"]{
    display: none;
}

@media (min-width: 0px){
    .container{
        width: 100%;
    }



    /** mobile **/
    .mb12 { width:  100%; }
    .mb11 { width:  91.66666667%; }
    .mb10 { width:  83.33333333%; }
    .mb9 { width:  75%; }
    .mb8 { width:  66.66666667%; }
    .mb7 { width:  58.33333333%; }
    .mb6 { width:  50%; }
    .mb5 { width:  41.66666667%; }
    .mb4 { width:  33.33333333%; }
    .mb3 { width:  25%; }
    .mb2 { width:  16.66666667%; }
    .mb1 { width:  8.33333333%; }
    .mb-pd-10 { padding: 10px; }


}
/* 320, 640, 920, 1280 */
@media (min-width: 640px){
    .container{ width: 640px; }

    /** tablet **/
    .tb12 { width:  100%; }
    .tb11 { width:  91.66666667%; }
    .tb10 { width:  83.33333333%; }
    .tb9 { width:  75%; }
    .tb8 { width:  66.66666667%; }
    .tb7 { width:  58.33333333%; }
    .tb6 { width:  50%; }
    .tb5 { width:  41.66666667%; }
    .tb4 { width:  33.33333333%; }
    .tb3 { width:  25%; }
    .tb2 { width:  16.66666667%; }
    .tb1 { width:  8.33333333%; }
    .tb-pd-10 { padding: 10px; }
}
@media (min-width: 920px){
    .container{ width: 920px; }

}
@media (min-width: 1280px){
    .container{ width: 1280px; }

    /** desktop **/
    .dt12 { width:  100%; }
    .dt11 { width:  91.66666667%; }
    .dt10 { width:  83.33333333%; }
    .dt9 { width:  75%; }
    .dt8 { width:  66.66666667%; }
    .dt7 { width:  58.33333333%; }
    .dt6 { width:  50%; }
    .dt5 { width:  41.66666667%; }
    .dt4 { width:  33.33333333%; }
    .dt3 { width:  25%; }
    .dt2 { width:  16.66666667%; }
    .dt1 { width:  8.33333333%; }
    .dt-pd-10{ padding: 10px; }
}
